.content{
    display: grid;
    grid-template-columns: 300px minmax(25px,150px) 300px;
    grid-template-rows: repeat(3 250px);
    gap: 2rem;
    justify-content: center;
    padding: 5% 15%;
    max-width: 85%;
    

}
.menu_item{
    padding: 25px;
    color: #041C32;
    background-color:#EEE0C9; /*#AFD3E2;*/
    align-content: center;
    justify-content: center;

}
.wine{
    background-color: #fdfbec;
    grid-row-start: 2;
    grid-column-start: 3;
}
.soft{
    grid-row-start: 3;
}
.menu_item ul{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.menu_item h3{
    font-size: ;
}

#white li{
    color: #e6db7e;
}
#red li{
    color: #5F021F;
}
@media (max-width: 1200px) {
    .content{
        grid-template-columns: 300px 300px 300px;
        justify-content: center;
        align-items: center;
    }
    .menu_item{
        grid-column-start: 2;
    }
}