
html{
    margin: 0;
}
header{
  color: #5B3D2E;
  background-color: #F5F1E8;
  margin: 0;
  display: flex;
  height: 10vh;
  padding-left: 20%;
  padding-bottom: 5%;
}


body{
    background-color: #F5F1E8;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}
footer{
  color:#2F4842;
  background-color: #D9BAA0;
  display: block;
  height: 1vh;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  bottom: 0;
  font-weight: bolder;
}
footer img{
  width: 20px;
  background: transparent;
}
footer a{
  text-decoration: none;
}
a{
    color: inherit;
    text-decoration: none;
}
ol{
  list-style: none;
}
ul{
  list-style: none;
}
h1{
   font-family: "Source Sans 3", sans-serif;
   font-size: 5vh;
   font-weight: 300;
}
h2{
  font-family: "Source Sans 3", sans-serif;

  font-size: 3vh;
  font-weight: 250;
}
h3{
  font-size: 2vh;
  font-weight: 150;
}
hr{
  margin: 5% 30%;
}



.content{
  color:#2F4842;
  display: flexbox;
  text-align: center;
}

.content p {
  margin: 5%;
}

#message{
  text-align: center;
  font-size: larger;
  color: red;
}
/*
#B24038 - BERRY
#A58E1E - PISTACCHIO
#4E9390 - FRESH WATER
#D65F43 - SMOOTHIE
#BC704A - CARAMEL
#2F4842 - GREEN TEA
#5B3D2E - GROUND COFFEE
*/