
html{
    margin: 0;
}
header{
  color: #5B3D2E;
  background-color: #BC704A;
  margin: 0;
  display: flex;
  height: 10vh;
  width: 100%;
  padding-left: 20%;
  padding-bottom: 5%;
}


body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
footer{
  color:#2F4842;
  background-color: #BC704A;
  display: block;
  width: 100%;
  height: 1vh;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  bottom: 0;
  font-weight: bolder;
}
footer img{
  width: 20px;
}
footer a{
  text-decoration: none;
}
a{
    color: inherit;
    text-decoration: none;
}
ol{
  list-style: none;
}
ul{
  list-style: none;
}
h1{
  font-family: "Grey Qo", cursive;
  font-size: 5vh;
}
h2{
  font-size: 4vh;
}
hr{
  margin: 5% 30%;
  border: 1px solid #2F4842;
}



.content{
  color:#2F4842;
  display: flexbox;
  text-align: center;
}

.content p {
  margin: 5%;
}

@media (max-width: 1200px) {
  footer{
    position: absolute;
  }
}
/*
#B24038 - BERRY
#A58E1E - PISTACCHIO
#4E9390 - FRESH WATER
#D65F43 - SMOOTHIE
#BC704A - CARAMEL
#2F4842 - GREEN TEA
#5B3D2E - GROUND COFFEE
*/